[project]
name = "lesson05"
version = "0.1.0"
description = "скрипт python, генерирующий отчет о структуре файлов и папок на жестком диске"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.14.2",
]
